@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Montserrat:wght@100&family=Roboto:ital@0;1&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

.drum-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #8d8d8d;
}