.drum-pad{
    width: 100px;
    height: 80px;
    background-color: grey;
    box-shadow: black 3px 3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin: 0.3rem;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout : none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; 
    font-weight: 900;
}

@media screen and (max-width: 420px) {
    .drum-pad{
      width: 80px;
      height: 65px;
    }
  }

  @media screen and (max-width: 340px) {
    .drum-pad{
      width: 70px;
      height: 62px;
    }
  }

